body{
    background-color: aquamarine;
    padding-left: 100px;
    padding-right: 100px;
    text-align: center;
    color: rgb(45, 146, 139);
    
}
div{
    color: rgb(45, 146, 139);
    background-color: white;
    border-radius: 5px;
    box-shadow: 0px 0px 5px aquamarine;
    padding: 5px;
    text-align: center;
    width: 750px;
    margin: 0 auto;
}
button{
    padding: 10px;
    color: white;
    background-color: rgb(45, 146, 139);
    border: rgb(255, 0, 0);
}
