body{
    background-color:rgb(225, 0, 127);
    padding-left: 100px;
    padding-right: 100px;
    text-align: center;
    color:rgb(0, 0, 0);
    
}
div{
    color:rgb(225, 0, 127) ;
    background-color: rgb(255, 203, 219);
    border-radius: 5px;
    box-shadow: 2px 2px 2px 2px rgb(255, 20, 147);
    padding: 5px;
    text-align: center;
    width: 680px;
    margin: 0 auto;
}
button{
    padding: 10px;
    color: white;
    background-color:rgb(225, 0, 127) ;
    border: rgb(255, 0, 0);
}