body{
    background-color: rgb(31, 227, 221);
    padding-left: 100px;
    padding-right: 100px;
    text-align: center;
    color: rgb(40, 98, 94);
    
}
div{
    color: rgb(5, 219, 205);
    background-color: rgb(172, 235, 233);
    border-radius: 5px;
    box-shadow: 0px 0px 5px aquamarine;
    padding: 5px;
    text-align: center;
    width: 750px;
    margin: 0 auto;
}
button{
    padding: 10px;
    color: white;
    background-color: rgb(5, 219, 205);
    border: rgb(255, 0, 0);
}

.verde{
    color: green;
}

.vermelho{
    color: rgb(255, 0, 0);
}

.azul{
    color: rgb(11, 11, 143);
}